params {
    config_profile_name        = 'AKE'
    config_profile_description = 'AKE cluster profile for the spice_library_pipeline'
    config_profile_contact = 'Felix Haidle'
    anno_tools = '/home/worker/data/FAS'
}

conda.enabled           = true

executor{
    queueSize = 20
}

process {

    conda = "/home/worker/envs/spice"

    executor = 'slurm'
    queue = 'all'
    errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    maxRetries    = 3
    maxErrors     = '-1'


    withName: 'FAS_ANNOTATION' {
        cpus = 16
        memory = '16GB'
    }

}
}

}
