/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run BIONF/spice-nf -profile human --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/



process {
    withName: FAS_ANNOTATION {
        cpus = 16
        memory = 16.GB
        queue = 'all'
        //conda = "${projectDir}/environment.yml"
        executor = 'slurm'
        conda = '/home/felix/miniconda3/envs/spice_env'
    }

}

process {
    withName: GENERATE_LIBRARY {
        cpus = 1
        memory = 6.GB
        //conda = "${projectDir}/environment.yml"
        executor = 'local'
        conda = '/home/felix/miniconda3/envs/spice_env'
    }
}

process {
    withName: FAS_SCORE_CALCULATION  {

        maxForks = 20
        //conda = "${projectDir}/environment.yml"
        executor = 'slurm'
    }
}

params {
    config_profile_name        = 'human library generation'
    config_profile_description = 'creating a spice library for the entire human transcriptome'


    // Input data
    species = 'human'
    release = 113
    anno_tools = '/share/project/felix/spice-nf/FAS_SLURM_EXECUTABLE/FAS/'
    test_mode = false
    outdir = 'spice_lib_human_113'
    annotation_gtf = "/share/project/felix/spice-nf/HumanAnnotation/ensembl_113/Homo_sapiens.GRCh38.113.gtf"
    peptide_fasta = "/share/project/felix/spice-nf/HumanAnnotation/ensembl_113/Homo_sapiens.GRCh38.pep.all.fa"



}


conda.enabled           = true
