/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run BIONF/spice_library_pipeline -profile test,conda --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
    //publishDir = [
    //    path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
    //    mode: params.publish_dir_mode,
    //    saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    //]

}



params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'


    // Test files are taken from ENSEMBL release 113, using a subset of chromosome 22
    species = 'human'
    release = 113
    annotation_gtf = "${projectDir}/assets/test_files/subset_chr22.gtf"
    peptide_fasta = "${projectDir}/assets/test_files/subset_chr22.fasta"


}

