/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run BIONF/spice-nf -profile test_full --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/



process {
    withName: FAS_ANNOTATION {
        cpus = 16
        memory = 16.GB
        queue = 'inteli7'
        //conda = "${projectDir}/environment.yml"
        executor = 'slurm'
        conda = '/home/felix/miniconda3/envs/spice_env'
    }
    
}

process {
    withName: GENERATE_LIBRARY {
        cpus = 1
        memory = 6.GB
        //conda = "${projectDir}/environment.yml"
        executor = 'local'
        conda = '/home/felix/miniconda3/envs/spice_env'
    }
}

params {
    config_profile_name        = 'full Test profile'
    config_profile_description = 'Bigger test dataset to check pipeline function'
    

    // Input data
    species = 'human'
    release = 113
    anno_tools = '/share/project/felix/spice-nf/FAS/'
    test_mode = false
    outdir = 'test_process_result'
    annotation_gtf = "/share/project/felix/spice-nf/HumanAnnotation/Homo_sapiens.GRCh38.113.chr22.gtf"
    peptide_fasta = "/share/project/felix/spice-nf/HumanAnnotation/Homo_sapiens.GRCh38.pep.chr22.fa"
    
}


conda.enabled           = true