/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run BIONF/spice-nf -profile test_full --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/



process {
    withName: FAS_ANNOTATION {
        cpus = 16
        memory = 16.GB
        queue = 'all'
        //conda = "${projectDir}/environment.yml"
        executor = 'slurm'
        conda = '/home/felix/miniconda3/envs/spice_env'
    }

}

process {
    withName: GENERATE_LIBRARY {
        cpus = 1
        memory = 6.GB
        //conda = "${projectDir}/environment.yml"
        executor = 'local'
        conda = '/home/felix/miniconda3/envs/spice_env'
    }
}

process {
    withName: FAS_SCORE_CALCULATION  {
        maxForks = 20
        //conda = "${projectDir}/environment.yml"
        executor = 'slurm'
    }
}

params {
    config_profile_name        = 'full Test profile'
    config_profile_description = 'Bigger test dataset to check pipeline function'


    // Input data
    species = 'human'
    release = 107
    anno_tools = '/share/project/felix/spice-nf/FAS_SLURM_EXECUTABLE/FAS/'
    test_mode = false
    outdir = 'spice_lib_chr22_107'
    annotation_gtf = "/share/project/felix/spice-nf/HumanAnnotation/ensembl_107/Homo_sapiens.GRCh38.107.chr22.fixed.gtf"
    peptide_fasta = "/share/project/felix/spice-nf/HumanAnnotation/ensembl_107/Homo_sapiens.GRCh38.pep.chr22.noversion.fa"

}


conda.enabled           = true
